body{background-color: rgb(57, 57, 57);}
header{
    position: relative;
    margin: auto;
    width: 15rem;
    
}
nav
{
background-color: rgb(81, 139, 167);
padding:1rem 1rem 1rem 0rem;
border-radius: 10px;

}
nav>ul>li
{
    position: relative;
    margin: auto;
    width: 100px;
    height: 20px;
    list-style-position: inside;
    list-style-type:none;
    text-align: center;
    padding: 2px;
    
}

nav>ul>li>a{
    color: white;
  
   
}

article{
    border-style: solid;
    border-color: cadetblue;
    background-color: rgb(52, 67, 70);
    color: rgb(214, 214, 214);
    width: 50%;
    height: 50%;
    position: relative;
    margin: auto;
    padding: 10px;
    margin-top: 2%;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
}
hr
{
color: white;
width: 100px;
}